{% extends 'base.html' %}

{% block content %}
<div class="col-lg-6 offset-lg-3">

    <h1>KIT Speaking Corpus</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <h2 class="info-msg">{{ message }}</h2>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th width="100%">概要</th>
            </tr>
            <tr>
                <th width="100%">KIT Speaking Corpus は、京都工芸繊維大学で実施しているKITスピーキングテストの回答音声を書き起こした、日本人大学生の英語スピーキングコーパスです。</th>
            </tr>
        </tbody>
    </table>


    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="ボタングループのツールバー">
    </div>

</div>
{% endblock %}